{% for animal in site.data.animals.animals %}
  {% assign bio_is_not_empty = animal.bio | is_not_empty %}
  {% if bio_is_not_empty %}
    <div class="post-subtitle">
      {{ animal.name }}
    </div>
    <div class="post-content">
      {% assign image_count = animal.images | size %}
      {% assign image_width = 700 | divided_by: image_count %}
      {% for image in animal.images %}
        <a href="{{ image | relative_url }}" data-lightbox="image-1" data-title="{{ animal.name }}">
          <img width="{{ image_width }}" src="{{ image | relative_url }}"/>
        </a>
      {% endfor %}
      <p>{{ animal.bio | markdownify }}</p>
      <p><br /></p>
    </div>
  {% endif %}
{% endfor %}