<section id="{{ include.section.section_id }}" class="block posts-block bg-{{ include.section.bg }} outer">
  <div class="block-header inner-small">
    {% assign title_is_not_empty = include.section.title | is_not_empty %}
    {% if title_is_not_empty %}
    <h2 class="block-title">{{ include.section.title }}</h2>
    {% endif %}
    {% assign subtitle_is_not_empty = include.section.subtitle | is_not_empty %}
    {% if subtitle_is_not_empty %}
    <p class="block-subtitle">
      {{ include.section.subtitle }}
    </p>
    {% endif %}
  </div><!-- .block-header -->
  <div class="inner">
    <div class="post-feed">
      <section id="photos">
        <a href="#"><img src="images/animals/thumbs/00-domesticrabbit.jpg" alt="Domestic Rabbit"></a>
        <a href="#"><img src="images/animals/thumbs/00-domesticrat.jpg" alt="Domestic Rat"></a>
        <a href="#"><img src="images/animals/thumbs/00-dumerilsboa.jpg" alt="Dumeril's Boa"></a>
        <a href="#"><img src="images/animals/thumbs/00-flemishgiantrabbit.jpg" alt="Flemish Giant Rabbit"></a>
        <a href="#"><img src="images/animals/thumbs/00-greeniguana.jpg" alt="Green Iguana"></a>
        <a href="#"><img src="images/animals/thumbs/00-madagascarhissingcockroach.jpg" alt="Madagascar Hissing Cockroach"></a>
        <a href="#"><img src="images/animals/thumbs/00-nigeriandwarfgoat.jpg" alt="Nigerian Dwarf Goat"></a>
        <a href="#"><img src="images/animals/thumbs/00-rubberboa.jpg" alt="Rubber Boa"></a>
        <a href="#"><img src="images/animals/thumbs/00-sulcatatortoise.jpg" alt="Sulcata Tortoise"></a>
        <a href="#"><img src="images/animals/thumbs/00-tigersalamander.jpg" alt="Tiger Salamander"></a>
        <a href="#"><img src="images/animals/thumbs/00-turkey.jpg" alt="Turkey"></a>
        <a href="#"><img src="images/animals/thumbs/00-waxymonkeyfrog.jpg" alt="Waxy Monkey Frog">
      </section>
    </div><!-- .post-feed -->
  </div><!-- .inner -->
</section><!-- .block -->
