<section id="{{ include.section.section_id }}" class="block posts-block bg-{{ include.section.bg }} outer">
  <div class="block-header inner-small">
    {% assign title_is_not_empty = include.section.title | is_not_empty %}
    {% if title_is_not_empty %}
    <h2 class="block-title">{{ include.section.title }}</h2>
    {% endif %}
    {% assign subtitle_is_not_empty = include.section.subtitle | is_not_empty %}
    {% if subtitle_is_not_empty %}
    <p class="block-subtitle">
      {{ include.section.subtitle }}
    </p>
    {% endif %}
  </div><!-- .block-header -->
  <div class="inner">
    <div class="post-feed">
      <section id="photos">
        {% assign display_posts = '/posts' | get_pages | sort: 'date' | reverse %}
        {% for post in display_posts %}
          <div class="thumb-container">
            <a href="{{ post.url | relative_url }}" rel="bookmark">
              <img class="thumb-image" src="{{ post.thumb_img_path | relative_url }}" alt="{{ post.title }}" />
              <div class="thumb-middle">
                <div class="thumb-text">{{ post.title }}</div>
              </div>
            </a>
          </div>
        {% endfor %}
      </section>
    </div><!-- .post-feed -->
  </div><!-- .inner -->
</section><!-- .block -->
