---
---

// Font.
$font: (
  primary: ("PT Sans",sans-serif)
);

// Palette.
$palette: (
  primary:           #fff,
  secondary:           darken(#03372e, 5%),
  meta:                lighten(#03372e, 20%),
  border:              lighten(#fc6428, 1%),
  bg:                #233d38,
  accent:            #0072ff,
  accent-alt:        #00c6ff,
  accent-purple:     #80291a,
  accent-purple-alt: #130337,
  accent-green:      #438945,
  accent-green-alt:  #73bb75,
  accent-orange:     #fe8c00,
  accent-orange-alt: #f83600
);

@import "imports/functions";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/posts";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";

@import "imports/custom";