---
---

// Font.
$font: (
  primary: ("PT Sans",sans-serif)
);

// Palette.
$palette: (
  primary:           #554b6c,
  secondary:           darken(#554b6c, 15%),
  meta:                lighten(#554b6c, 20%),
  border:              lighten(#554b6c, 58%),
  bg:                #b995ee,
  accent:            #0072ff,
  accent-alt:        #00c6ff,
  accent-purple:     #503a73,
  accent-purple-alt: #8062ad,
  accent-green:      #438945,
  accent-green-alt:  #73bb75,
  accent-orange:     #fe8c00,
  accent-orange-alt: #f83600
);

@import "imports/functions";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/posts";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";

