/**
 * Custom CSS for curious-critters site
 * ----------------------------------------------------------------------------
 */
#people-block {
  color: #fff;
  background: url(/assets/post_img/about_bg.jpg) no-repeat;
  background-size: cover;
}

#people-block img {
  height: auto;
  max-width: 100%;
  float: left;
  padding: 0 1.66667rem 1.66667rem  1.66667rem ;
}

#statements {
  background: url(/assets/post_img/about_mission.jpg) no-repeat;
  background-size: cover;
}

#people-block h1,
#people-block h2,
#people-block h3,
#people-block h4,
#people-block h5,
#people-block h6 {
  color: #FFF;
}

#programs-top .block-buttons {
  display: flex;
  flex-direction: column !important;
  flex-wrap: wrap;
  
}